html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.hidden{
    display:none;
}

.visible {
    display: block;
}

.control-row {
    height: 3.4rem;
    display: block;
}

.leaned-right {
    float: right;
}

.table-equal-cols {
   table-layout: fixed;
}

.text-cutout {
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}