@model ContactsApp.Models.Contact

<div id="successAlert" class="alert alert-success alert-dismissible position-absolute hidden ms-3">
    <span id="successAlertText" class="text-cutout"></span>
</div>

<div class="pt-2 pb-2 control-row">
    <h2 class="text-center" style="margin-bottom:-30px;">Contacts</h2>
    <button class="btn btn-primary mb-2 me-3 leaned-right" id="buttonAddContact">Create New</button>
</div>

<div class="container mt-3">
    <table class="table table-responsive table-bordered table-hover table-equal-cols">
        <thead class="table-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MobilePhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BirthDate)
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
    </table>
</div>

<div class="hidden" id="contactsTableSpinner">
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-success mt-5 text-center" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<div class="modal" id="contactPopupForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="contactFormTitle"></h4>
            </div>
            <div class="modal-body">
                <div id="errorAlert" class="alert alert-danger alert-dismissible collapse hidden">
                    <strong>Error! </strong>
                    <span id="errorAlertText"></span>
                    <button id="errorAlertClose" class="btn-close" href="#"></button>
                </div>
                <input type="hidden" asp-for="Id" id="inputId" />
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" asp-for="Name" id="inputName" />
                    <label asp-for="Name"></label>
                    <span id="inputName-error" class="text-danger field-validation-error"></span>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" asp-for="MobilePhone" id="inputMobilePhone" />
                    <label asp-for="MobilePhone"></label>
                    <span id="inputMobilePhone-error" class="text-danger field-validation-error"></span>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" asp-for="JobTitle" id="inputJobTitle" />
                    <label asp-for="JobTitle"></label>
                    <span id="inputJobTitle-error" class="text-danger field-validation-error"></span>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="date" asp-for="BirthDate" id="inputBirthDate" asp-format="{0:yyyy-MM-dd}" />
                    <label asp-for="BirthDate"></label>
                    <span id="inputBirthDate-error" class="text-danger field-validation-error"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button id="addContact" class="btn btn-success btn-lg" onclick="AddContact()">Add</button>
                <button id="updateContact" class="btn btn-success btn-lg hidden" onclick="UpdateContact()">Update</button>
                <button class="btn btn-secondary btn-lg" onclick="HidePopupForm()">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/contacts.js" asp-append-version="true"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

